In [1]:
import pandas as pd

In [2]:
file_path = 'summary_cities.csv'

In [5]:
summary_cities_df = pd.read_csv(file_path)
summary_cities_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,aljezur,100,PT,1579140568,96,37.32,-8.80,60.01,8.01
1,ahipara,45,NZ,1579140570,75,-35.17,173.17,75.99,1.01
2,humaita,29,BR,1579140571,92,-7.51,-63.02,74.57,1.66
3,kungurtug,77,RU,1579140573,78,50.60,97.52,-1.07,0.47
4,kijang,99,KR,1579140574,47,35.24,129.21,33.80,6.93

In [7]:
summary_cities_df.to_html('summary_cities.html',index=False)